<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title><%= @title %></title>>
 <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%=link_to 'Home', controller: 'home', action: 'index' %>
<%=link_to 'Ride', controller: 'home', action: 'ride' %>
<%=link_to 'Drive', controller: 'home', action: 'drive' %>
<%=link_to 'Sign In', controller: 'home', action: 'signin' %>
<%=link_to 'Sign Up', controller: 'home', action: 'signup' %>
<%= yield %>
</body>
</html>
