<!DOCTYPE html>
<<<<<<< HEAD
<html lang="en-US">
  <head>
    <title><%= @title %></title>>
    <%= stylesheet_link_tag 'application',
    media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
<body>
    <div class="container">
      <header>
        <h1>Our Ride Share App</h1>
      </header>
      <section class="content">
        <nav>
          <%=link_to_unless_current 'Home', root_url %>
          <%=link_to_unless_current 'Signup', users_url %>
          <%=link_to_unless_current 'Profile', user_profiles_url %>
          <%=link_to_unless_current 'Address', user_addresses_url %>
          <%=link_to_unless_current 'Signin', signin_url %>
          <%=link_to_unless_current 'Drive', drive_url %>
          <%=link_to_unless_current 'Ride', ride_url %>
        </nav>

        <%= yield %>
      </section>
      <footer>
        <h4>Copyright <%=Date.today.year %> GriffendorRagnarok777</h4>
      </footer>
    </div>
  </body>
</html>
=======
<html>
<head>
  <title>Project</title>
 <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%=link_to 'Home', controller: 'home', action: 'index' %>
<%=link_to 'ride' ride_url %>
<%=link_to 'drive' drive_url %>
<%=link_to 'signin' signin_url %>
<%=link_to 'signup' signup_url %>
<%= yield %>

</body>
</html>
>>>>>>> 6e4c0f675fe74b9f78eaba89b10f2f087513a029
