<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user_profile.userName %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @user_profile.gender %>
</p>

<p>
  <strong>Smoking:</strong>
  <%= @user_profile.smoking %>
</p>

<%= link_to 'Edit', edit_user_profile_path(@user_profile) %> |
<%= link_to 'Back', user_profiles_path %>
