<%= form_for(@event_list) do |f| %>
  <% if @event_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event_list.errors.count, "error") %> prohibited this event_list from being saved:</h2>

      <ul>
      <% @event_list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :eventDate %><br>
    <%= f.text_field :eventDate %>
  </div>

  <div class="field">
    <%= f.label :eventTime %><br>
    <%= f.text_field :eventTime %>
  </div>

  <div class="field">
    <%= f.label :eventName %><br>
    <%= f.text_field :eventName %>
  </div>

  <div class="field">
    <%= f.label :eventDescription %><br>
    <%= f.text_field :eventDescription %>
  </div>

  <div class="field">
    <%= f.label :streetAddress %><br>
    <%= f.text_field :streetAddress %>
  </div>

  <div class="field">
    <%= f.label :City %><br>
    <%= f.text_field :City %>
  </div>

  <div class="field">
    <%= f.label :State %><br>
    <%= f.text_field :State %>
  </div>

  <div class="field">
    <%= f.label :Zip %><br>
    <%= f.text_field :Zip %>
  </div>

  <div class="field">
    <%= f.label :nbrOfRiders %><br>
    <%= f.text_field :nbrOfRiders %>
  </div>

  <div class="field">
    <%= f.label :vehicleType %><br>
    <%= f.text_field :vehicleType %>
  </div>

  <div class="field">
    <%= f.label :PUstreetAddress %><br>
    <%= f.text_field :PUstreetAddress %>
  </div>

  <div class="field">
    <%= f.label :PUCity %><br>
    <%= f.text_field :PUCity %>
  </div>

  <div class="field">
    <%= f.label :PUState %><br>
    <%= f.text_field :PUState %>
  </div>

  <div class="field">
    <%= f.label :PUZip %><br>
    <%= f.text_field :PUZip %>
  </div>

  <div class="field">
    <%= f.label :smokingAllowed %><br>
    <%= f.text_field :smokingAllowed %>
  </div>

  <div class="field">
    <%= f.label :createdBy %><br>
    <%= f.text_field :createdBy %>
  </div>

  <div class="field">
    <%= f.label :eventDriver %><br>
    <%= f.text_field :eventDriver %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
