<%= form_for(@user_address) do |f| %>
  <% if @user_address.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_address.errors.count, "error") %> prohibited this user_address from being saved:</h2>

      <ul>
      <% @user_address.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :userName %><br>
    <%= f.text_area :userName %>
  </div>
  <div class="field">
    <%= f.label :streetAddress %><br>
    <%= f.text_area :streetAddress %>
  </div>
  <div class="field">
    <%= f.label :City %><br>
    <%= f.text_area :City %>
  </div>
  <div class="field">
    <%= f.label :State %><br>
    <%= f.text_area :State %>
  </div>
  <div class="field">
    <%= f.label :Zip %><br>
    <%= f.text_area :Zip %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
