<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user_address.userName %>
</p>

<p>
  <strong>Streetaddress:</strong>
  <%= @user_address.streetAddress %>
</p>

<p>
  <strong>City:</strong>
  <%= @user_address.City %>
</p>

<p>
  <strong>State:</strong>
  <%= @user_address.State %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @user_address.Zip %>
</p>

<%= link_to 'Edit', edit_user_address_path(@user_address) %> |
<%= link_to 'Back', user_addresses_path %>
